// #page-wrapper {
//   @include media-breakpoint-up(sm) {
//     display: flex;
//   }
// }

#header {
  background: $yellow;
  color: $secondary;

  a {
    color: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.node--type-event {
  .node__title a {
    color: inherit;
  }
}

.alert a {
  color: inherit;
}

.navbar-collapse {
  justify-content: flex-end;

  a {
    text-transform: uppercase;
    font-size: $font-size-lg;
    font-family: $headings-font-family;
    font-weight: 700;
  }
}

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-wrapper {
  margin-bottom: $spacer * 2;
}

footer {
  margin-top: auto;
}

.paragraph {
  @include media-breakpoint-up(md) {
    margin-bottom: $spacer * 2;
  }
}

// .paragraph--type--img-text {
//   .field--name-field-bild {
//     mar
//   }
//   @include media-breakpoint-up(md) {
//     display: flex;
//   }
//
//   > * {
//     flex: 1 0 1px;
//   }
// }
